@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: lightgray;
}

header {
    background-color: gray;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

i#burguer {
    background-color: rgb(48, 48, 48);
    color: whitesmoke;
    width: 20px;
    text-align: center;
    display: block;
    padding: 10px;
    cursor: pointer;
}

i#burguer:hover {
    background-color: white;
    color: black;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu a {
    background-color: rgb(87, 87, 87);
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    border-top: 2px solid gray;
}

menu a:hover {
    background-color: gray;
}

main {
    background-color: white;
    width: 90vw;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article h2 {
    padding-bottom: 20px;
}

article p {
    text-align: justify;
    text-indent: 20px;
    margin-bottom: 20px;
    
}