@charset "UTF-8";

/* Configurações Gerais */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    background-color: #233eff;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    text-shadow: 2px 2px 0px #1728a7;
    padding: 10px;
}